<div class="row">
    <div class="col-xs-12">
        <button ng-click="$ctrl.changeGraphic('spline')">Spline</button>
        <button ng-click="$ctrl.changeGraphic('area')">Area</button>
        <button ng-click="$ctrl.changeGraphic('column')">column</button>
        <button ng-click="$ctrl.changeGraphic('point')">point</button>
    </div>
    <div class="col-xs-12">
        <button ng-click="$ctrl.changeColor('#D0F5A9')">Verde</button>
        <button ng-click="$ctrl.changeColor('#FA5858')">Rojo</button>
        <button ng-click="$ctrl.changeColor('#F4FA58')">amarillo</button>
    </div>
    <div class="col-xs-12">
        <button ng-click="$ctrl.changeLineWidth(5)">5</button>
        <button ng-click="$ctrl.changeLineWidth(10)">10</button>
        <button ng-click="$ctrl.changeLineWidth(2)">2</button>
    </div>
    <input type="checkbox" ng-model="$ctrl.pause">
    Real Time High Chart
    <div id="container" style="min-width: 310px; height: 700px; margin: 0 auto"></div>
</div>